<h2>List of Favorites</h2>
<header>
  <button ng-click="list.edit()">Edit</button><p>{{list.message}}</p><button ng-click="list.add()">Add</button>
</header>
<div>
  <ul ng-repeat="ist in list.listData.info">
    <li>
      {{ist.restaurant_name}}<button ng-show ="list.editValue">Edit</button><button ng-show ="list.editValue">Delete</button>
    </li>
  </ul>
</div>
<div>
  <ul>
    <li ng-show="list.addValue">
      <label for="restaurant_name">New Restaurant:</label>
      <input ng-model="list.restaurant_name" type="text" name="restaurant_name" id="restaurant_name"/>
      <button ng-click="list.addRest()">Submit</button>
    </li>
  </ul>
</div>
